.footer
  .footer-wrapper
    .footer-section
      .footer-contact Contact
        ul.footer-contact-list
          each footerItem in section.footer.contact
            li.footer-conatct-item
              a.footer-contact-link(href=`#{footerItem.url}`)
                span(class=footerItem.icon)
                span #{footerItem.label}        
    .footer-section
      .footer-social Social
        ul.footer-social-list
          each social, key in data.curriculum.section.home.author.social
            li.footer-social-item
              a.footer-social-link(href=`#{social.icon.url}`)
                span(class='icon-' + social.icon)
    .footer-section
      .footer-menu Menu
        ul.footer-menu-list
          each menuItem in section.menu.list
            li.footer-menu-item
              a.footer-menu-list-link(href=`#menuItem.url`)
                span(class=menuItem.icon)
                span #{menuItem.label}
              
  p &copy Carol Enache
    
