.footer
  .footer-wrapper
    .footer-section
      .footer-contact 
        ul.footer-list
          each footerItem in section.footer.contact
            li.footer-item
              a.footer-list-link(href=`${footerItem.url}`)
                span(class=footerItem.icon)
                span.footer-label #{footerItem.label}        
    .footer-section
      .footer-social 
        ul.footer-social-list
          each social, key in data.curriculum.section.home.author.social
            li.footer-social-item
              a.footer-list-link(href=social.url target="_blank")
                span.footer-icon(class='icon-' + social.icon)
    .footer-section
      .footer-menu 
        ul.footer-list
          each menuItem in section.menu.list
            li.footer-item
              a.footer-list-link(href=`#${menuItem.url}`)
                span(class=menuItem.icon)
                span.footer-label #{menuItem.label}
              
    
